<h1><%- title %></h1>
<p><i><%- messages() %></i></p>
<div class="login">
    <form action="GET">
        <fieldset>
            <label for="account_email">Email:</label><br>
            <input type="text" id="email" name="account_email"><br>
            <label for="password_account">Password:</label><br>
            <input type="password" id="pswd" name="password_account"><br>
            <button type="submit">Login</button><br>
        </fieldset>
    </form>
    <p>No account? <a href="/account/register"> Sign-up</a></p>
</div>


