<%- messages() %>
<section class="management-login">
    <h1><%= (title) %></h1>
    <h3>Welcome, <%= locals.accountData.account_firstname %></h3>
    <p>You're logged in.</p>
    <a href="">Edit account information</a>
</section>